$text: #323232;
$purple: #d8d3fb;
$acent: #d0f687;
$subtitle: #787878;

header {
    display: flex;
    align-items: center;
    height: 87px;
}

.container {
    padding: 0;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 87px;
    background-color: #fff;
    filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.14));
    z-index: 10;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
}

.menu_item {
    display: flex;
    align-items: center;
}

.menu .menu_link {
    height: 37px;
    width: auto;
    color: $text;
    text-decoration: none;
    font-family: "Comfortaa";
    font-weight: 400;
    display: flex;
    align-items: center;
    line-height: 25px;
    font-size: 22px;
}

.menu .menu_link:hover {
    border-radius: 13px;
    background-color: $acent;
    text-align: center;
}

.menu_logo {
    max-width: 100%;
    height: 34px;
    margin-right: 100px;
}

.logo_img {
    width: 180px;
    height: 32px;
}

.menu_logo:hover {
    width: 180px;
    height: 34px;
    border-bottom: 2px solid $text;
}

.header_icons {
    display: flex;
    width: 56px;
    height: 42px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.header_icons_min {
    width: 32px;
    height: 32px;
}

.header_icons:nth-child(1) {
    margin-right: 24px;
}

.header_icons:hover {
    border-radius: 13px;
    background-color: $acent;
}

.hamburger_menu {
    display: none;
}

.nonvisible_logo {
    display: none;
}

.wrapper_for_nonvis_block {
    display: none;
}

.search_box {
    position: fixed;
    top: 12px;
    left: 308px;
    display: none;
    z-index: 9999;
    background-color: transparent;
    width: 63%;
}
.search_box_active {
    display: block;
}
.search_input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    height: 63px;
    background: #f3f3f3;
    border-radius: 15px;
    border: none;
    font-size: 22px;
    color: #323232;
}
.search_input:focus {
    border: 2px solid #91da04;
    outline: none;
}

.banner {
    height: 600px;
    min-width: 100%;
    background: url("../img/banner3.png") center center/cover no-repeat;
    padding-top: 87px;
}

.banner_header {
    font-family: "Comfortaa";
    color: $text;
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    margin: 0;
}
.banner_subheader {
    font-family: "Exo 2";
    font-weight: 200;
    font-size: 24px;
    line-height: 33px;
    color: $subtitle;
    margin-top: 40px;
}
.banner_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 370px;
    height: 77px;
    background: $acent;
    box-shadow: 3px 4px 14px rgba(0, 0, 0, 0.11);
    border: none;
    border-radius: 43px;
    font-family: "Comfortaa";
    font-weight: 600;
    font-size: 28px;
    line-height: 31px;
    text-align: center;
    margin-top: 89px;
}
.search {
    display: none;
}
.trainings {
    margin-top: 84px;
}
.header_marker {
    position: relative;
    width: fit-content;
}
.marker {
    position: relative;
    width: 432px;
    height: 35px;
}

.marker_text {
    font-family: "Comfortaa";
    font-weight: 500;
    font-size: 54px;
    line-height: 60px;
    text-align: center;
    color: $text;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
}
.all_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 36px;
    padding: 0px;
    gap: 8px;
    width: auto;
    height: 22px;
    background-color: transparent;
    border: none;
    font-family: "Exo 2";
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: $subtitle;
    margin-top: 14px;
}
.button_cont {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.trainings_card_wrapper {
    display: inline-flex;
    flex-direction: row;
}
.trainings_card_text_content {
    width: 328px;
    height: 342px;
    background: #ffffff;
    box-shadow: inset -4px 0px 15px -2px rgba(0, 0, 0, 0.06);
    padding: 32px 24px 10px 24px;
    .card_name {
        margin: 0 0 0 16px;
        font-family: "Comfortaa";
        font-weight: 400;
        font-size: 36px;
        line-height: 40px;
        color: $text;
    }
}
.trainings_card_imgs {
    object-fit: cover;
    padding: 0;
    width: 329px;
    height: 342px;
}
.card_header {
    display: flex;
    align-items: baseline;
}
.mini_icon {
    width: 35px;
    height: 35px;
}

.card_descr {
    margin-top: 24px;
    height: 115px;
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: $subtitle;
    width: 294px;
}
.trainings_card_text_content .all_btn {
    margin-top: 32px;
    font-size: 14px;
    line-height: 17px;
    margin-left: 0;
}

.sec_col {
    margin-top: 0;
}

.adventages {
    margin-top: 120px;

    .marker {
        width: 559px;
    }
}
.marked_header_trainers {
    margin-top: 80px;
}
.advent_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
    border-right: 3px solid $acent;
    border-spacing: 16px;
}

.advent_card_img {
    width: 135px;
    height: 135px;
}
.advent_card_descr {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: $text;
}

.second_banner {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    width: 100%;
    height: 612px;
    background: url("../img/banner_2.png") center center/cover no-repeat;
    margin-bottom: 100px;
    .banner_header {
        font-family: "Comfortaa";
        font-weight: 300;
        font-size: 48px;
        line-height: 65px;
        padding-top: 48px;
    }
    .banner_subheader {
        margin-top: 64px;
        font-family: "Exo 2";
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 33px;
    }
    .banner_btn {
        margin-top: 75px;
        width: 376px;
        height: 84px;
    }
}
.trainers {
    margin-top: 30px;
    .marker {
        width: 321px;
    }
}
.trainers_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 27px;
    width: 100%;
    height: 359px;
    background-color: $purple;
    box-shadow: inset -4px 0px 15px -2px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    .trainer_name {
        padding-top: 32px;
        font-family: "Comfortaa";
        font-weight: 400;
        font-size: 26px;
        line-height: 29px;
        color: $text;
    }
}
.first_circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 182px;
    height: 182px;
    border: 2px solid $acent;
    border-radius: 100%;
    overflow: hidden;
}
.second_circle {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 165px;
    height: 165px;
    border-radius: 100%;
}
.circle_img {
    min-width: 100%;
    min-height: 100%;
}

.trainer_subtitle {
    padding-top: 12px;
    font-family: "Exo 2";
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: $subtitle;
}
.news_section_on_index {
    display: flex;
    flex-direction: row;
}
.news {
    margin-top: 100px;
    .marker {
        width: 593px;
    }
    .col-md-4 {
        padding: 0;
    }
}
.news_card_wrapper {
    padding: 0;
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 3px solid $acent;
    border-spacing: 16px;
}
.news_card_content {
    width: 356px;
    height: 333px;
    background-color: #fff;
    border: 2px solid $acent;
    filter: drop-shadow(4px 4px 14px rgba(0, 0, 0, 0.34));
    border-radius: 15px;
}
.news_card_img_wrapper {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: auto;
    height: 211px;
    border-radius: 15px 15px 0px 0px;
}
.news_card_img {
    min-width: 100%;
    min-height: 100%;
    z-index: 2;
}
.news_card_text_wrapper {
    padding: 24px 19px 0 19px;
}
.news_card_header {
    font-family: "Comfortaa";
    font-weight: 400;
    font-size: 21px;
    line-height: 23px;
    color: $text;
}
.news_card_subheader {
    font-family: "Exo 2";
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    color: $subtitle;
}
.last {
    border: 0;
}
.footer_wrapper {
    display: flex;
    margin-top: 160px;
    background-color: $purple;
    height: 284px;
}
.text_block {
    padding-top: 57px;
    .second {
        padding-left: 36px;
    }
}

.footer_header {
    font-family: "Comfortaa";
    font-weight: 500;
    font-size: 22px;
    line-height: 25px;
    color: $text;
}
.elems_cont {
    padding-top: 20px;
    :first-child {
        padding-top: 0;
    }
}
.footer_elems {
    font-family: "Exo 2";
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: $subtitle;
    padding-top: 16px;
}
.footer_social_item {
    display: flex;
    padding-top: 20px;
    :nth-child(2) {
        padding-left: 20px;
    }
}
.socialmedia_icon {
    width: 42px;
    height: 42px;
}
.schedule {
    margin-top: 80px;
    .drop {
        align-items: center;
        vertical-align: center;
        margin-top: 52px;
    }
    .marker_text {
        margin-left: -4px;
    }
}
.month {
    display: flex;
    margin-top: 110px;

    .month_back_btn {
        display: flex;
        background-color: #fff;
        padding: 0;
        border: 0;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .month_back_btn_img {
        width: 38px;
        height: 38px;
    }
    .month_text {
        font-family: "Comfortaa";
        font-weight: 500;
        font-size: 48px;
        line-height: 54px;
        text-align: center;
        color: $text;
        padding: 0 24px;
    }
}

.dropdown-check-list {
    display: inline-block;
    margin-right: 52px;
    vertical-align: top;
}

.dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 16px 0 16px 16px;
    border: 2px solid #787878;
    border-radius: 9px;
    font-family: "Exo 2";
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: $subtitle;
}
.dropdown_arrow {
    padding-left: 127px;
    padding-right: 20px;
}

.dropdown-check-list ul.items {
    align-items: left;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 0 0 9px 9px;
    border-top: none;
    padding: 16px 0 16px 16px;
}

.dropdown_li {
    font-family: "Exo 2";
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $subtitle;
}
.dropdown_li:last-child {
    padding-top: 12px;
}

.dropdown-check-list ul.items li {
    list-style: none;
}

.dropdown-check-list.visible .anchor {
    border: 2px solid #8dbf2c;
    border-radius: 9px;
}

.dropdown-check-list.visible .items {
    display: block;
}

.month_mini {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 auto;

    .month_back_btn {
        display: flex;
        background-color: #fff;
        padding: 0;
        border: 0;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .month_back_btn_img {
        width: 20px;
        height: 20px;
    }
    .month_text {
        font-family: "Comfortaa";
        font-weight: 400;
        font-size: 24px;
        line-height: 27px;
        text-align: center;
        padding: 0 16px;
        color: $subtitle;
    }
}
.days_of_week {
    display: flex;
    margin-top: 56px;
}
.days_of_week_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90px;
    margin-bottom: 32px;
    width: 184px;
    background: $purple;
    border-radius: 9px;
    margin-right: 6px;
    font-family: "Comfortaa";
    font-weight: 700;
    font-size: 28px;
    line-height: 31px;
    text-align: center;
    color: $text;
}
.days_of_week_header:last-child {
    margin-right: 0;
}

.map_img {
    object-fit: cover;
}
.trainer_popup_wrapper {
    z-index: 100000;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 507px;
    height: 100vh;
    background: #ffffff;
    border: 5px solid #88b8ff;
    border-radius: 9px;
    padding: 30px 16px;
    overflow-y: auto;
    .popup_info_line {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        .trainer_popup_header_icon {
            width: 38px;
            height: 38px;
            margin-right: 24px;
        }
        .trainer_popup_header_text {
            font-family: "Comfortaa";
            font-style: normal;
            font-weight: 400;
            font-size: 36px;
            line-height: 45px;
            color: $text;
        }
    }
    .trainer_popup_line {
        width: 100%;
        border: 3px solid #88b8ff;
        border-radius: 100px;
        margin: 18px 0;
    }
    .trainer_popup_mini_header {
        font-family: "Comfortaa";
        font-weight: 500;
        font-size: 28px;
        color: #323232;
        margin-bottom: 24px;
        &_mini {
            font-size: 24px;
            margin-bottom: 0;
        }
        &_mb {
            margin-bottom: 0;
        }
    }
    .trainer_popup_card_content_row {
        display: flex;
        flex-direction: row;
        align-items: center;
        &_aic {
            align-items: center;
            margin-bottom: 24px;
        }
    }
    .trainer_popup_card_icon {
        width: 42px;
        height: 42px;
        margin-right: 14px;
    }
    .trainer_popup_card_wrapper {
        width: 100%;
        height: fit-content;
        border: 1.5px solid #88b8ff;
        border-radius: 15px;
        padding: 12px;
        margin-bottom: 32px;
        &:hover {
            background: rgba(136, 184, 255, 0.23);
            cursor: pointer;
        }
        .trainer_popup_card_photo {
            width: 112px;
            height: 112px;
            object-fit: cover;
            border-radius: 100%;
            margin-right: 24px;
        }

        .trainer_popup_card_text_header {
            font-family: "Comfortaa";
            font-style: normal;
            font-size: 24px;
            color: #323232;
        }
    }
    .banner_btn {
        margin-top: 42px;
        width: 100%;
        &_disabled {
            background: #e0f5b6;
            border: 5px solid #d0f687;
            box-shadow: 3px 4px 14px rgba(0, 0, 0, 0.11);
        }
    }
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup_visible {
    display: block;
}
.confirming_popup {
    display: none;
    background: #fff;
    height: fit-content;
    z-index: 100000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 607px;
    border: 5px solid #88b8ff;
    border-radius: 9px;
    padding: 30px 16px;
    overflow-y: auto;
    &_visible {
        display: block;
    }
    &_header {
        text-align: center;
        font-family: "Comfortaa";
        font-weight: 400;
        font-size: 40px;
        line-height: 45px;
        color: $text;
    }
    &_subheader {
        font-family: "Exo 2";
        font-weight: 300;
        font-size: 20px;
        text-align: center;
        color: $text;
        margin-top: 32px;
    }
    .banner_btn {
        position: relative;
        font-size: 26px;
        margin-top: 42px;
        left: 50%;
        transform: translateX(-50%);
    }
}
.schedule_card {
    padding: 27px 11px 16px;
    display: flex;
    cursor: pointer;
    margin-bottom: 24px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 222px;
    width: 184px;
    box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.08);
    background: #f1effd;
    border: 2px solid #d8d3fb;
    border-radius: 9px;
    margin-right: 6px;

    .card_name {
        padding: 0;
        font-family: "Comfortaa";
        font-weight: 600;
        font-size: 26px;
        color: $text;
        text-align: center;
    }
    .trainer_name {
        padding: 0;
        margin-top: 24px;
        font-family: "Comfortaa";
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        text-align: center;
        line-height: 19px;
        color: $text;
    }
}
.green {
    background: rgba(173, 255, 123, 0.23);
    border: 2px solid #adff7b;
}
.blue {
    background: rgba(136, 184, 255, 0.23);
    border: 2px solid #88b8ff;
}

.filter_container {
    display: flex;
    position: relative;
}

.filter_box {
    width: 324px;
    height: 58px;
    margin-right: 20px;
    position: relative;
    border: 2px solid #787878;
    border-radius: 9px;
    display: flex;
    align-items: center;
    padding: 16px;
    justify-content: space-between;
}

.filter_img {
    width: 19px;
    height: 11px;
    object-fit: cover;
    cursor: pointer;
}

.filter_title {
    cursor: pointer;
    font-family: "Exo 2";
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    color: #787878;
}

.filter_content {
    width: 324px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 9px;
    padding: 16px;
    z-index: 1;
    transition: opacity 0.3s, visibility 0.3s;
}

.filter_content.show {
    opacity: 1;
    visibility: visible;
}

.filter_option {
    color: #787878;
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
    cursor: pointer;
}

.filter_option:last-child {
    margin-bottom: 0;
}

.filter_option input[type="checkbox"] {
    margin-right: 5px;
}
.card_line {
    margin-top: 28px;
    width: 100%;
    border: 2px solid $purple;
    border-radius: 3px;
}
.border_blue {
    border-color: #88b8ff;
}
.border_green {
    border-color: #adff7b;
}

.card_time {
    display: flex;
    margin-top: 24px;
    width: 116px;
    height: 36px;
    background: $acent;
    border-radius: 5px;
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: $text;
    align-items: center;
    justify-content: center;
}
.highlighted {
    background-color: yellow;
}
.nondisp {
    opacity: 0;
}
.cards {
    &.second {
        margin-top: 12px;
    }
}

.marked_header {
    margin-top: 80px;
    margin-bottom: 74px;
}
.first_card {
    margin-top: 44px;
}

.trainings_card_wrapp {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 342px;
    object-fit: cover;
    .trainings_card_img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
.no_pad_r {
    padding-right: 0;
}
.no_pad_l {
    padding-left: 0;
}
.mr {
    margin-right: 0;
    margin-left: 0;
}
.card_description {
    display: flex;
    flex-direction: column;
    padding: 40px 64px 43px 52px;
    width: 100%;
    height: 342px;
    background: #ffff;
    box-shadow: inset -4px 0px 15px -2px rgba(0, 0, 0, 0.06);
    .header {
        display: flex;
        align-items: flex-end;
    }
    .mini_icon {
        fill: none;
        width: 60px;
        height: 60px;
        stroke-width: 2.2px;
        stroke: $text;
        stroke-linejoin: round;
        stroke-linecap: round;
    }
    .card_name {
        font-family: "Comfortaa";
        font-weight: 400;
        font-size: 40px;
        text-align: center;
        color: $text;
        padding-left: 16px;
        margin: 0;
    }
    .text {
        font-family: "Exo 2";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        color: $subtitle;
        margin-top: 35px;
    }
    .all_btn {
        margin-left: 0;
        margin-top: 58px;
    }
}
.green_b {
    color: #91da04;
}
.trainings_line {
    margin-top: 44px;
    width: 100%;
    border: 1px solid $purple;
}
.second_card {
    margin-top: 44px;
    .card_img {
        min-width: 668px;
        max-height: 342px;
        background: url("../img/stretching_card.png") center center/cover no-repeat;
    }
}
.third_card {
    margin-top: 44px;
    .card_img {
        min-width: 668px;
        max-height: 342px;
        background: url("../img/fitnes_card.png") center center/cover no-repeat;
    }
    .mini_icon {
        width: 60px;
        height: 60px;
        stroke-width: 3px;
    }
}
.marked_headers {
    margin-top: 80px;
    .marker {
        width: 358px;
    }
    .big {
        width: 568px;
    }
}
.windows_content {
    padding: 36px;
    margin-top: 90px;
    width: 497px;
    height: 271px;
    border: 5px solid $acent;
    border-radius: 15px;
    .string {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .text_string {
        display: flex;
        align-items: baseline;
    }
    .next {
        margin-top: 36px;
    }
    .content_icon {
        width: 38px;
        height: 38px;
    }
    .bold_head {
        margin-left: 18px;
        font-family: "Exo 2";
        font-weight: 800;
        font-size: 24px;
        margin-bottom: 0;
        color: $text;
    }
    .content_text {
        margin-left: 11px;
        font-family: "Exo 2";
        font-weight: 500;
        font-size: 24px;
        color: $text;
    }
    .another {
        margin-left: 0;
    }
}
.mini {
    width: 404px;
}
.subhead {
    margin-top: 18px;
}

.another_icon {
    width: 32px;
    height: 32px;
}
.another_text {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: $subtitle;
    margin-left: 8px;
}
.second_box {
    margin-top: 28px;
}
.map_img {
    margin-top: 100px;
    min-width: 100%;
    height: 518px;
    border: 4px solid $acent;
    box-shadow: 12px 0px 20px -9px rgba(0, 0, 0, 0.25), -12px 0px 20px -9px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.trainer {
    width: 318px;
}

.dropdowns_container {
    margin-top: 64px;
}
.content_box {
    display: flex;
    width: 652px;
    height: 338px;
    background: #f1effd;
    border: 5px solid $purple;
    box-shadow: inset -4px 0px 15px -2px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    padding: 0;
}
.blue_border {
    background: #e3eeff;
    border: 5px solid #88b8ff;
}
.green_border {
    background: rgba(173, 255, 123, 0.23);
    border: 5px solid #adff7b;
}
.trainer_photo {
    width: 254px;
    height: 329px;
    width: 254px;
    height: 329px;
    object-fit: cover;
    border-radius: 14px 0px 0px 14px;
}
.mini_box {
    margin: 32px auto 35px 24px;
    .all_btn {
        margin: 0;
        margin-top: 90px;
    }
}
.rate {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 81px;
    height: 35px;
    background: $acent;
    border-radius: 15px;
    padding: 4px 10px;
    .rate_icon {
        width: 24px;
        height: 24px;
    }
    .text {
        font-family: "Exo 2";
        font-weight: 500;
        font-size: 20px;
        color: $text;
        margin-left: 7px;
    }
}
.trainer_names {
    margin-top: 38px;
    font-family: "Comfortaa";
    font-weight: 500;
    line-height: 33px;
    color: $text;
    margin-bottom: 0;
}
.trainer_descr {
    margin-top: 26px;
    font-family: "Exo 2";
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: $subtitle;
}
.upper {
    margin-top: 60px;
}
.banner_acc {
    height: 256px;
    width: 100%;
    background: rgba(216, 211, 251, 0.5);
    box-shadow: inset 0px -5px 25px rgba(0, 0, 0, 0.08);
}
.account_info {
    padding-top: 23px;
    height: 216px;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.photo_wrapper {
    position: absolute;
    left: 22px;
    top: -167px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 264px;
    border: 6px solid #d0f687;
    border-radius: 100%;
    overflow: hidden;
}
.account_photo {
    min-width: 100%;
    min-height: 100%;
    border-radius: 100%;
    background-color: white;
}
.account_content {
    margin-left: 254px+52px+42px;
}
.account_name {
    font-family: "Comfortaa";
    font-weight: 600;
    font-size: 42px;
    line-height: 47px;
    color: $text;
}
.account_age {
    font-family: "Exo 2";
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: $subtitle;
    margin-top: 12px;
}
.account_descr {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 21px;
}
.account_icon {
    width: 30px;
    height: 30px;
}
.account_text {
    margin-left: 8px;
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #b1b1b1;
}
.sec {
    margin-left: 42px;
}
.gear_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: absolute;
    width: 42px;
    height: 42px;
    left: 1278px;
    top: 0px;
}
.main_section {
    margin-top: 42px;
}
.info_col {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.additional_info {
    padding: 24px;
    width: 310px;
    min-height: 129px;
    background: #ffffff;
    box-shadow: 2px 2px 24px 13px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
}
.info_icon {
    width: 32px;
    height: 32px;
}
.info_text {
    font-family: "Exo 2";
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: $subtitle;
    margin-left: 12px;
}
.down {
    margin-top: 27px;
}
.main_information {
    padding: 42px 38px 64px 32px;
    width: 880px;
    min-height: auto;
    background: #ffffff;
    box-shadow: 2px 2px 24px 13px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    .marker {
        width: 396px;
        height: 23px;
    }
    .of_trainers {
        width: 224px;
    }
    .marker_text {
        font-size: 40px;
    }
    .row_inf {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .reviews_section_header {
        margin-top: 54px;
    }
}
.calendar_cards_section {
    margin-top: 62px;
}
.calendar_card {
    display: flex;
    align-items: center;
    width: 810px;
    height: 137px;
    background: #f1effd;
    border-radius: 15px;
}
.date_card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88px;
    height: 137px;
    background: #d8d3fb;
    border-radius: 15px 0px 0px 15px;
}
.date_card_text {
    font-family: "Comfortaa";
    font-style: normal;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: $text;
}
.card_info {
    padding: 12px;
    .name_line {
        display: flex;
        align-items: flex-end;
        margin-left: 16px;
        .trainer_name {
            margin-top: 24px;
            font-family: "Exo 2";
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 26px;
            color: $subtitle;
            &:nth-child(2) {
                margin-left: 43px;
            }
        }
    }

    .activity_name {
        font-family: "Comfortaa";
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 31px;
        color: $text;
    }
    .activity_icon {
        width: 36px;
        height: 36px;
        margin-left: 8px;
        fill: none;
        stroke-width: 2px;
        stroke: $text;
        stroke-linejoin: round;
        stroke-linecap: round;
    }
}
.traun_page {
    margin-left: -4px;
}
.new_container {
    display: flex;
    width: 810px;
    height: 137px;
    background: #f1effd;
    border-radius: 15px;
}
.more_btn {
    width: 42px;
    height: 42px;
    background-color: transparent;
    border: none;
    margin-left: 186px;
}
.blue_date_card {
    background: #88b8ff;
}
.green_date_card {
    background: #8dbf2c;
}
.blue_card {
    background: #e3eeff;
}
.green_card {
    background: rgba(173, 255, 123, 0.23);
}
.marg {
    margin-top: 36px;
}
.achievment_block {
    margin-top: 84px;
    .marker {
        width: 184px;
    }
}
.cards_row {
    display: flex;
    flex-direction: row;
    margin-top: 48px;
}
.achievment_card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 136px;
    height: 136px;
    border: 2px solid #d8d3fb;
    border-radius: 15px;
}
.achievment_img {
    width: 87px;
    height: 87px;
}
.achievment_card_name {
    font-family: "Comfortaa";
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: $text;
    margin-top: 14px;
    text-align: center;
    width: 136px;
}
.card_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 34px;
}
.card_wrapper:first-child {
    margin-left: 0;
}
a {
    text-decoration: none;
}
.achievments_section {
    margin-top: 80px;
    .marker {
        width: 242px;
    }
}

.mini_header {
    margin-top: 80px;
    font-family: "Comfortaa";
    font-weight: 500;
    font-size: 30px;
    line-height: 33px;
    color: $text;
}
.big_achievment_card_wrapper {
    margin-top: 42px;
    padding: 19px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 582px;
    height: 147px;
    border: 2px solid #d8d3fb;
    border-radius: 15px;

    .achievment_img {
        width: 109px;
        height: 109px;
    }
    .big_achievment_card_header {
        font-family: "Comfortaa";
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 36px;
        color: $text;
    }
    .text_wrapp {
        margin-left: 24px;
    }
    .big_achievment_card_subheader {
        font-family: "Exo 2";
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 25px;
        color: $subtitle;
        margin-top: 16px;
    }
    &.disabled {
        border: 2px solid #787878;
        border-radius: 15px;
        color: #787878;
    }
    .disabled_text {
        color: $subtitle;
    }
}
.mt {
    margin-top: 56px;
}
.yoga_banner {
    height: 505px;
    width: 100%;
    object-fit: cover;
}
.page_info {
    height: 1290px;
}
.main_block {
    position: absolute;
    top: -50px;
    padding: 40px 80px 80px;
    width: 100%;
    height: auto;
    background: #ffffff;
    box-shadow: 2px -21px 24px 9px rgba(0, 0, 0, 0.08);
    border-radius: 50px;
    .banner_btn {
        margin: 0;
        width: 457px;
        height: 84px;
        font-size: 32px;
    }
    .row {
        align-items: center;
    }
}
.training_name {
    font-family: "Bad Script";
    font-weight: 400;
    font-size: 96px;
    line-height: 189px;
    letter-spacing: -0.05em;
    color: $text;
}

.page_info .container {
    position: relative;
}
.training_descr {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 209%;
    color: $text;
}
.training_image {
    width: 282px;
    height: 282px;
}
.delimiter {
    width: 100%;
    border: 2px solid #d0f687;
}
.with_margin {
    margin-top: 80px;
}
.what_else {
    margin-top: 80px;
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 209%;
    color: $text;
}
.new {
    width: 300px;
    height: 300px;
}
.with_little_margin {
    margin-top: 46px;
}
.page_info {
    .trainers {
        .trainers_card {
            width: 273px;
            height: 339px;
            .first_circle {
                width: 167px;
                height: 167px;
            }
            .second_circle {
                width: 151px;
                height: 151px;
            }
            .trainer_name {
                font-size: 24px;
            }
        }
    }
}
.news_section {
    margin-top: 80px;
    .marker {
        width: 613px;
    }
}

.news_cards_section {
    margin-top: 83px;
}
.promotions_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 652px;
    height: 246px;
    border: 2px solid #91da04;
    filter: drop-shadow(4px 4px 14px rgba(0, 0, 0, 0.34));
    border-radius: 15px;
}
.promotions_img_wrapper {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 15px 0px 0px 15px;
    background-size: cover;
    width: 302px;
    height: 100%;
    margin: 0;
    padding: 0;
}
.promotions_img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.promotions_text_wrapper {
    margin-left: 16px;
    margin-right: 16px;
    width: 310px;
    height: 98px;
}
.promotions_header {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    color: $text;
}
.promotions_subheader {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: $subtitle;
}
.news_page_content {
    margin-top: 64px;
}
.news_page_header {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 60px;
    color: #323232;
}
.news_page_img_wrapper {
    margin-top: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 1336px;
    height: 440px;
    border-radius: 15px;
}
.news_page_img {
    min-width: 100%;
    min-height: 100%;
}
.news_main_text {
    margin-top: 64px;
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 42px;
    text-align: justify;
}
.news_text_row {
    margin-top: 24px;
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 42px;
    text-align: justify;
}
.main_trainer_section {
    margin-top: 42px;
}
.about_text {
    margin-top: 42px;
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: $text;
}
.section_with_button .banner_btn {
    margin-top: 0;
    width: 288px;
    height: 68px;
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
}
.descr_line {
    width: 100%;
    border: 2px solid #d0f687;
}
.section_with_button .row {
    align-items: center;
}
.reviews_section_header .marker {
    width: 244px;
    height: 23px;
}
.reviews_section_header {
    .marker_text {
        font-size: 40px;
    }
    .new_m {
        margin-left: 0;
    }
}
.reviews_section_header .all_btn {
    margin: 0;
    margin-left: 430px;
    font-size: 18px;
}

.review_section {
    margin-top: 14px;
}
.reviews_wrapper {
    margin-top: 32px;
    width: 816px;
    min-height: 172px;
    border: 5px solid #d8d3fb;
    border-radius: 15px;
    padding: 20px 24px;
}
.header_line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.review_img_wrapper {
    width: 62px;
    height: 62px;
    border-radius: 100%;
    object-fit: cover;
}
.review_line {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.review_img {
    object-fit: cover;
    border-radius: 100%;
    width: 100%;
    height: 100%;
}
.reviewers_name {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    color: #323232;
    margin-left: 16px;
}
.raiting {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.raiting_img {
    width: 28px;
    height: 28px;
}
.raiting_text {
    margin-left: 4px;
    font-family: "Comfortaa";
    font-weight: 500;
    font-size: 24px;
    color: #323232;
}
.review_text {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 26px;
    color: $subtitle;
    margin-top: 20px;
}
.reviws_content_box {
    margin-top: 42px;
    padding: 42px;
    width: 100%;
    min-height: auto;
    background: #ffffff;
    box-shadow: 2px 2px 24px 13px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
}
.reviws_content_box .review_section {
    margin-top: 56px;
}
.raiting_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 42px;
    padding: 24px;
    background-color: rgba(216, 211, 251, 0.2);
    border-radius: 15px;
    border: 4px dashed $purple;
    margin-bottom: 32px;
    .banner_btn {
        border: 3px solid #d0f687;
        background: white;
        width: 300px;
        height: 74px;
        margin-top: 42px;
        font-size: 24px;
    }
    .banner_btn:hover {
        border: 3px solid #d0f687;
        background: $acent;
    }
}
.review_form {
    margin-top: 32px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.review_textarea {
    padding: 16px;
    border: 2px solid $purple;
    border-radius: 15px;
    width: 97%;
    height: 140px;
    resize: none;
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    color: $text;
}
.review_textarea:focus {
    border-color: $acent;
    outline: none;
}
.selected_rating {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 20px;
    color: $text;
    margin-left: 20px;
}
.review_grade {
    margin-top: 92px;
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;

    color: $text;
}
.rating_stars {
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.warning {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    margin-top: 16px;
    color: $subtitle;
}
.review_submit_btn {
    border: none;
    background-color: white;
    width: 28px;
    height: 28px;
}
.review_submit_btn_icon {
    width: 28px;
    height: 28px;
}
.invisible {
    display: none;
}
.column_with_trainings_card {
    margin-top: 42px;
    display: flex;
    flex-direction: column;
}
.line_trainings {
    display: flex;
    flex-direction: row;
}
.schedule_cards_row {
    display: flex;
    flex-direction: column;
}
.raiting_header {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
    color: $text;
}
.raiting_line {
    margin-top: 16px;
    width: 260px;
    border: 2px solid $acent;
}
.raiting_row {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.raiting_number {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    color: #323232;
}
.raiting_star {
    width: 32px;
    height: 32px;
    margin-left: 9px;
}
.first {
    margin-left: 17px;
}
.reviws_content_box .banner_btn {
    margin-top: 64px;
    width: 259px;
    height: 61px;
    border: 3px solid #d0f687;
    background: transparent;
    filter: drop-shadow(3px 4px 14px rgba(0, 0, 0, 0.11));
    border-radius: 58px;
    font-weight: 500;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    .reviews_section_header {
        margin-top: 0;
    }
}
.reviws_content_box .banner_btn:hover {
    background: $acent;
}
.settings_section {
    margin-top: 64px;
    .account_name {
        position: absolute;
        font-size: 32px;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 27px;
    }
}
.back_btn {
    display: flex;
    align-items: center;
    width: 26px;
    height: 26px;
    border: none;
    background: transparent;
    cursor: pointer;
}
.exit {
    width: 26px;
    height: 26px;
}
.photo_button {
    position: relative;
    width: 169px;
    height: 169px;
    background: url(/src/img/masha.png) center center/cover no-repeat;
    border-radius: 100%;
    border-color: $acent;
    object-fit: scale-down;
    border: none;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.photo_button .icon-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-color: $acent;
    background-color: rgba(78, 78, 78, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 100%;
}
.photo_button:hover .icon-overlay {
    opacity: 1;
}
.icon-overlay img {
    width: 50px;
    height: 50px;
}
.settings_bg {
    position: relative;
    margin-top: 140px;
    height: fit-content;
    width: 1204px;
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff;
    box-shadow: 2px 2px 24px 13px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    padding: 60px 90px;
    .banner_btn {
        position: relative;
        width: 504px;
        height: 84px;
        font-size: 32px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.account_data {
    display: flex;
    flex-direction: column;
}

.account_data label {
    margin-bottom: 5px;
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #323232;
}

.account_data input,
.account_data select {
    @extend .form-element;
}
.account_data .form_wrapper {
    width: 470px;
    height: 115px;
    margin-bottom: 36px;
}
.account_data input:focus,
.account_data select:focus {
    border: 2px solid #8dbf2c;
    outline: none;
}
.form-element {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 22px 20px;
    gap: 10px;
    width: 470px;
    height: 72px;
    border: 1.5px solid #323232;
    border-radius: 15px;
    font-family: "Exo 2";
    margin-top: 12px;
    font-weight: 400;
    font-size: 20px;
}
.reg_img {
    width: 720px;
    height: 920px;
    object-fit: cover;
    float: right;
}
.reg_logo_img {
    width: 228px;
    height: 38px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 32px;
    object-fit: cover;
}
.registration_section {
    position: sticky;
    top: 0;
    .banner_btn {
        width: 470px;
        margin-top: 54px;
    }
}
.registration_header {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    line-height: 56px;
    color: #323232;
    margin-top: 32px;
    margin-bottom: 34px;
}
.registration_data {
    display: flex;
    flex-direction: column;
}

.registration_data label {
    margin-bottom: 5px;
    font-family: "Exo 2";
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    color: #323232;
}
.registration_data input:focus {
    border: 2px solid #8dbf2c;
    outline: none;
}
.registration_subheader {
    margin-top: 32px;
    margin-left: 66px;
    display: flex;
    align-items: center;
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: $text;
    margin-bottom: 9px;
}

.registration_subheader_underlined {
    color: #91da04;
    text-decoration: underline;
    margin-left: 8px;
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}
.login {
    margin-left: 130px;
    margin-top: 10px;
}
.registration_data input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 22px 20px;
    gap: 10px;
    width: 470px;
    height: 72px;
    border: 1.5px solid #323232;
    border-radius: 15px;
    font-family: "Exo 2";
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: $text;
    margin-bottom: 32px;
}
.admin_panel_section {
    margin-top: 64px;
    background-color: #d8d3fb;
}
.big_header_admin {
    font-family: "Comfortaa";
    font-weight: 500;
    font-size: 64px;
    color: #323232;
    margin-bottom: 64px;
}
.button_table_link {
    width: 300px;
    height: 100px;
    font-family: "Comfortaa";
    font-weight: 400;
    font-size: 24px;
    border: 2px solid #8dbf2c;
    border-radius: 95px;
    color: #323232;
    background: $acent;
    margin-bottom: 32px;
}
.back_admin {
    background: transparent;
    border: none;
    transform: scale(-1, 1);
}
.session_title {
    font-family: "Comfortaa";
    font-weight: 400;
    font-size: 54px;
}
.date_of_session {
    font-family: "Exo 2";
    font-weight: 300;
    font-size: 32px;
}
.present_list {
    font-family: "Exo 2";
    font-weight: 300;
    font-size: 24px;
}
.present_list input[type="checkbox"] {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}
.trainer_session_section {
    .banner_btn {
        margin-top: 60px;
        width: 300px;
        height: 60px;
        font-size: 24px;
    }
}
.alert-danger {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.alertContainer {
    position: absolute;
    top: 5vh;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
}
.registration_data input.error {
    border-color: red;
}
.error-message {
    color: red;
    margin-top: -15px;
    margin-bottom: 32px;
}
.hidden_on_laptop {
    display: none;
}
.xl-hidden_on_contact_page {
    display: none;
}
.xl-visible_on_rewiews_page {
    display: none;
}
.xl-hidden_on_index {
    display: none;
}
.xl-hidden_on_schedule {
    display: none;
}
.slider-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.xl-hidden {
    display: none;
}
@import "_links.scss";
@import "_media.scss";
